#idnom, #idprenom, #email, #password{
    color: black;
}
#idnom.rouge, #idprenom.rouge, #idemail.rouge, #idpassword.rouge{
    color: red;
}
#output{
    border: 1px solid red;
    padding: 10px;
    margin: 10px;
    list-style: none;
}